<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
// setup some JSON to use
var coordinates = {x: 400 , y: 500 };

$(document).ready(function(){
  $("#theButton").click(function(e){
    doWork();
  });
});

// window.onload = function() {
//   // setup the button click
//   document.getElementById("theButton").onclick = function() {
//     doWork()
//   };
// }

function doWork() {
  // ajax the JSON to the server
  $.ajax({
    url: "/receiver",  
    data: JSON.stringify(coordinates),
    processData: false, 
    headers: {"Content-Type": "application/json"},
    dataType: "json",
    method: "POST",
    success: function(){

  }});
  // stop link reloading the page
 event.preventDefault();
}
</script>
This will send data using AJAX to Python:<br /><br />
<a href="" id="theButton">Click Me</a>
</html>

